::selection {
    background-color: rgba(202, 63, 172, 0.9);
}

body {
    margin: 1rem 3rem;
    background-color: rgb(35, 90, 90);

    align-items: center;
}

i {
    display: block;
}

h3, p, i {
    text-align: center;
}

video {
    width: 48rem;
    height: 27rem;

    border: .25rem solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;

    animation-name: hue-rotate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes hue-rotate {
    from {
        filter: hue-rotate(0);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

@media (max-width: 800px) {
    body {
        margin: 2vw 6vw;
    }

    video {
        width: 96vw;
        height: 54vw;

        border-width: .5vw;
    }
}