::selection {
    background-color: rgba(153, 255, 0, 0.75);
}

body {
    height: 100vh;
    margin: unset;

    justify-content: center;
    align-items: center;
    gap: unset;
}

h1 {
    font-size: 8rem;

    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}

b {
    font-size: 6rem;
}

p {
    font-size: 4rem;
}

h1, b {
    user-select: none;
}

@media (max-width: 900px) {
    h1 {
        font-size: 16vw;
    }

    b {
        font-size: 12vw !important;
        text-align: center;
    }

    p {
        font-size: 8vw !important;
    }
}

@media (max-height: 570px) {
    body {
        justify-content: unset;
    }

    h1 {
        margin-top: 1rem;
    }
}