::selection {
    background-color: rgba(153, 255, 0, 0.75);
}

body {
    height: 100vh;
    margin: unset;

    justify-content: center;
    align-items: center;
    gap: unset;
}

h1 {
    font-size: 8rem;

    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}

b {
    font-size: 6rem;
}

p {
    font-size: 4rem;
}

h1, b {
    user-select: none;
    white-space: nowrap;
}

@media (max-width: 900px) {
    h1 {
        font-size: 5rem;
    }

    b {
        font-size: 3.5rem;
    }

    p {
        font-size: 2.5rem;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    b {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }
}

@media (min-width: 600px) and (max-height: 390px) {
    body {
        justify-content: unset;
    }
}