body {
    background-color: var(--gray20);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vmin;
}

body>div {
    display: flex;
    gap: 3vmin;
}

h1 {
    font-size: 4vmin;
    white-space: nowrap;
}

p {
    text-align: center;
}

h1, p {
    user-select: none;
}

input {
    width: 15vmin;
}

input:focus {
    outline: none;
}

button {
    height: 6vmin;
    color: black;
}

button:active:not(button:disabled) {
    filter: brightness(75%);
}

select {
    color: black;
    text-align: center;
}

input, button, select {
    border: .5vmin solid black;

    width: 15vmin;
    height: 6vmin;
}

#minutes {
    width: 14vmin;

    font-size: 2.5vmin;
    text-align: center;
    color: black;
}

#picker {
    height: 5.75vmin;
}

#toggle {
    background-color: rgb(110, 255, 110);
}

#update {
    background-color: rgb(199, 255, 110);
}