body {
    background-color: unset;
    user-select: none;
    text-align: right;
}

b {
    transition: .2s;

    color: rgb(240, 240, 240);
    font-size: 52vmin;
    font-family: 'Poppins', sans-serif;

    text-transform: uppercase;
}