:disabled {
    filter: brightness(50%);
}

body {
    background-color: var(--gray20);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.7);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vmin;
}

body>div {
    display: flex;
    gap: 3vmin;
}

h1 {
    font-size: 4vmin;
    white-space: nowrap;
}

p {
    font-size: 2vmin;
    text-align: center;
}

button {
    height: 6vmin;
    width: 15vmin;

    color: black;
}

button:active:not(button:disabled) {
    filter: brightness(75%);
}

input, button {
    border: .25vmin solid black;
}

select {
    width: 48.75vmin;
}

input, button, select {
    font-size: 2vmin;
}

#minutes {
    width: 14vmin;
    font-size: 2.5vmin;
}

#minutes, #picker {
    width: 15vmin;
    height: 6vmin;

    color: black;
    cursor: text;
}

input[type="checkbox"] {
    width: 4vmin;
    height: 4vmin;
}

#toggle {
    background-color: rgb(212, 214, 77);
}

#update {
    background-color: rgb(110, 255, 243);
}