body {
    background-color: unset;
    text-align: right;

    width: fit-content;
    user-select: none;
}

b {
    transition: .2s;

    color: rgb(240, 240, 240);
    font-size: 14vmin;
    font-family: 'Poppins', sans-serif;

    text-transform: uppercase;
    text-shadow: .25vmin .25vmin .25vmin rgba(0, 0, 0, .25);
}