:root {
    --box-size: 15rem;
}

* {
    user-select: none;
}

body {
    height: 100vh;
    margin: 0 3rem;

    flex-direction: unset;
    justify-content: center;
    align-items: center;
}

body>*:not(#navigator) {
    height: var(--box-size);
    width: var(--box-size);
    line-height: var(--box-size);

    background-color: var(--gray50);
    text-align: center;
}

body>*:not(#navigator):hover {
    transform: scale(1.1);
}

.settings {
    font-weight: bold;
}

.box,
.settings {
    font-size: 2rem;

    color: white;
    text-decoration: none;
}

#github {
    background-image: url("https://media.fpm-studio.de/assets/icons/github_black.webp");
}

#countdown {
    background-image: url("https://media.fpm-studio.de/assets/graphics/wall_clock.webp");
}

#password {
    background-image: url("https://media.fpm-studio.de/assets/graphics/loading.gif");
}

#winrate {
    background-image: url("https://media.fpm-studio.de/assets/graphics/detailed_trophy.webp");
}

#github,
#countdown,
#password,
#winrate {
    background-size: 30rem;
    background-blend-mode: multiply;
}