:root {
    --padding: 5vmin;
}

body {
    background-color: var(--gray20);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
}

a {
    font-size: 4vmin;
    text-decoration: none;
    filter: brightness(90%);

    padding: var(--padding);

    background-color: rgb(51, 39, 83);
    background-position: center;
    background-blend-mode: multiply;
}

a:hover {
    transition: .1s;

    color: var(--success) !important;
    font-size: 4.5vmin;
    filter: brightness(80%);
}

p {
    font-size: 2vmin;
    white-space: nowrap;
}

span {
    width: 100%;
    height: 100%;
    position: fixed;

    box-shadow: 0 0 10vmin rgba(0, 0, 0, 0.9) inset;
}

#github {
    background-size: 40vmin;
    background-image: url("https://media.fpm-studio.de/assets/icons/github_black.webp");

    padding: calc(var(--padding) * 2.8) var(--padding);
}

#countdown-main {
    background-image: url("https://media.fpm-studio.de/assets/graphics/clock.webp");
    background-size: 38vmin;
}

#winrate-main {
    background-image: url("https://media.fpm-studio.de/assets/icons/trophy.webp");
    background-size: 18vmin;
}

#countdown-settings {
    background-image: url("https://media.fpm-studio.de/assets/backgrounds/gear_ltr.webp");
    background-size: 40vmin;
}

#winrate-settings {
    background-size: 40vmin;
    background-image: url("https://media.fpm-studio.de/assets/backgrounds/gear_rtl.webp");
}

#countdown-settings, #winrate-settings {
    color: rgb(60, 160, 125);
}

@media (max-aspect-ratio: 3/2) {
    body {
        flex-direction: column;
    }

    div {
        flex-direction: unset;
    }

    a {
        width: 40vmin;
    }

    #github {
        padding: var(--padding);
        background-size: calc(100vmin / 3);
    }
}