:root {
    --padding: 5vmin;
}

body {
    background-color: var(--gray20);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
}

a {
    font-size: 4vmin;
    text-decoration: none;
    filter: brightness(90%);

    padding: var(--padding);

    background-color: rgb(51, 39, 83);
    background-position: center;
    background-blend-mode: multiply;
}

a:hover {
    transition: .1s;

    color: var(--success);
    font-size: 4.5vmin;
    filter: brightness(80%);
}

span {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

#github {
    background-size: 40vmin;
    background-image: url("https://media.fpm-studio.de/assets/icons/GitHub Black.png");

    padding: calc(var(--padding) * 2.8) var(--padding);
}

#countdown-main {
    background-image: url("https://media.fpm-studio.de/assets/backgrounds/Clock.png");
}

#countdown-settings {
    background-image: url("https://media.fpm-studio.de/assets/backgrounds/Gear.png");
}