:root {
    --box-size: 15rem;
}

* {
    user-select: none;
}

body {
    height: 100vh;
    margin: unset;

    flex-direction: unset;
    justify-content: center;
    align-items: center;
}

/* Boxes */

body>*:not(#navigator) {
    height: var(--box-size);
    width: var(--box-size);
    line-height: var(--box-size);

    background-color: var(--gray50);
    text-align: center;
}

body>*:not(#navigator):hover {
    transform: scale(1.1);
}

.settings {
    font-weight: bold;
}

.box,
.settings {
    font-size: 2rem;

    color: white;
    text-decoration: none;
}

/* Background images for the boxes */

#github {
    background-image: url("https://media.fpm-studio.de/assets/icons/github_black.webp");
}

#countdown {
    background-image: url("https://media.fpm-studio.de/assets/graphics/wall_clock.webp");
}

#password {
    background-image: url("https://media.fpm-studio.de/assets/graphics/loading.gif");
}

#winrate {
    background-image: url("https://media.fpm-studio.de/assets/graphics/detailed_trophy.webp");
}

#github,
#countdown,
#password,
#winrate {
    background-size: calc(var(--box-size) * 2);
    background-blend-mode: multiply;
}

@media (max-width: 1080px) {
    body {
        display: grid;
        grid-template-columns: auto auto;
        align-content: center;
    }

}

@media (max-width: 800px) {
    body>*:not(#navigator) {
        --box-size: 30vw;
    }
}

@media (max-width: 1080px) and (max-height: 520px) {
    body {
        display: flex;
    }

    body>*:not(#navigator) {
        --box-size: 15vw;
    }

    .box,
    .settings {
        font-size: 2vw !important;
    }
}