emoji {
    width: 8rem;
    font-size: 6rem;
}

b {
    width: 31rem;

    font-size: 6rem;
    font-weight: 200;
}

body {
    height: 100vh;
    margin: 0 2rem;

    align-items: center;
    justify-content: center;
}

input {
    font-size: 6rem;
    text-align: center;
    color: var(--gray20);
}

#wl-wins, #wl-losses, #wl-average {
    width: 75rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wl-wins input, #wl-losses input {
    width: 10rem;
}

#wl-average b {
    width: auto;
}

#wl-average span {
    width: 57.5rem;
    height: 3rem;

    background-color: gray;
    border-radius: 3rem;
}

@media (max-height: 520px) {
    body {
        justify-content: unset;
    }
}