body {
    margin: 0 2rem;

    background-color: unset;
    user-select: none;
    text-align: center;
}

b {
    transition: .2s;

    color: rgb(240, 240, 240);
    font-size: 37rem;
    font-family: "Poppins", sans-serif;
}