body {
    height: 100vh;
    margin: 0 2rem;

    align-items: center;
    justify-content: center;
}

body>div {
    display: flex;
    gap: 3rem;
}

body>p {
    max-width: 57rem;
}

h3 {
    white-space: nowrap;
}

p {
    text-align: center;
}

button {
    width: 15rem;
}

button:active:not(button:disabled) {
    filter: brightness(75%);
}

select {
    width: 48.5rem;
}

#minutes, #picker {
    width: 15rem;
}

input[type="checkbox"] {
    width: 4rem;
    height: 4rem;
}

#toggle {
    background-color: var(--darker-yellow);
}

#update {
    background-color: rgb(44, 44, 133);
}

@media (max-height: 640px) {
    body {
        justify-content: unset;
    }
}