body {
    background-color: var(--background);
    margin: 5vmin;

    display: flex;
    flex-direction: column;
    gap: 2vmin;
}

input[type="checkbox"] {
    width: 2.5vmin;
    height: 2.5vmin;
}

textarea {
    height: 20vmin;
    resize: none;
}

input, textarea {
    width: 100%;

    border: 2vmin solid #0000;
    background-color: var(--background);
}

h1 {
    font-size: 4vmin;
    text-decoration: underline;
}

h2 {
    font-size: 3vmin;
}

h1, h2, p, li {
    color: var(--text);
}

span {
    color: var(--text);
    background-color: var(--background);

    padding: .5vmin;
    text-align: center;

    display: block;
    float: right;
}

button {
    background-color: var(--background);
    padding: .5vmin;
}

button:active {
    filter: brightness(120%) !important;
}

#hints {
    display: flex;
    gap: 5vmin;
}

#job {
    gap: 1vmin;
}

#text, #job {
    display: flex;
    flex-direction: column;
}

#job div {
    width: 10vmin;
}

#about {
    gap: 5vmin;
}

#job div, #about {
    display: flex;
    justify-content: space-between;
}

#application {
    width: 100%;
}

#upload {
    width: 75%;
}

#upload input {
    background-color: var(--background);
    border: 1vmin solid var(--background);
}

#dark {
    background-color: var(--danger);
    width: 5vmin;
}

#send {
    width: 40vmin;
    height: 5vmin;

    font-size: 3vmin;
}

@media (max-aspect-ratio: 4/3) {
    h1 {
        font-size: 8vmin;
    }

    h2 {
        font-size: 6vmin;
    }

    p, li {
        font-size: 4vmin;
    }

    a {
        font-size: 4vmin;
    }

    textarea {
        height: 50vmin;
    }

    input {
        height: 10vmin;
    }

    input[type="checkbox"] {
        width: 7vmin;
        height: 5vmin;
    }

    span, input, textarea {
        font-size: 4vmin;
    }

    button {
        font-size: 5vmin;
    }

    #hints {
        display: block;
    }

    #job div {
        width: 20vmin;
        align-items: center
    }

    #about {
        flex-direction: column;
    }

    #upload input {
        width: 133.33%;
        height: 0%;
    }

    #dark {
        width: 10vmin;
    }

    #send {
        height: 10vmin;
        font-size: 6vmin;
    }
}