body {
    margin: 5vmin;
    background-color: var(--gray20);

    display: flex;
    flex-direction: column;
    gap: 2vmin;
}

input[type="checkbox"] {
    width: 2.5vmin;
    height: 2.5vmin;
}

h1 {
    font-size: 4vmin;
    text-decoration: underline;
}

h2 {
    font-size: 3vmin;
}

button {
    padding: .5vmin;

    color: whitesmoke;
    background-color: var(--gray50);
}

button:disabled {
    color: gray;
    background-color: var(--gray10);
}

button:active:not(:disabled) {
    background-color: var(--danger);
}

#hints {
    gap: 5vmin;
}

#text {
    flex-direction: column;
}

#jobs {
    gap: 1vmin;
}

#hints, #text, #jobs {
    display: flex;
}

#create {
    height: 5vmin;

    font-size: 3vmin;
}

@media (max-aspect-ratio: 4/3) {
    h1 {
        font-size: 5vmin;
    }

    h2 {
        font-size: 4vmin;
    }

    p, li, a {
        font-size: 3vmin;
    }

    input[type="checkbox"] {
        width: 4vmin;
        height: 4vmin;
    }

    #hints {
        display: block;
    }

    #create {
        height: 10vmin;
        font-size: 4vmin;
    }
}