h3 {
    text-decoration: underline;
}

button {
    color: whitesmoke;
    background-color: var(--gray50);
}

button:disabled {
    color: gray;
    background-color: var(--gray10);
}

button:active:not(:disabled) {
    background-color: var(--danger);
}

#jobs {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#create {
    width: 50rem;
}

@media (max-width: 900px) {
    #create {
        width: 100%;
    }

    #jobs {
        gap: 2vw;
    }
}