::selection {
    background-color: rgba(200, 255, 115, 0.5);
}

body {
    margin: 5vmin;

    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://media.fpm-studio.de/assets/backgrounds/Palm Tree.webp");
}

body>div {
    border-top: 6vmin;
    border-style: solid;

    padding: 3vmin;
    background-color: rgba(15, 15, 15, .5);
}

body>div:not(:first-of-type) {
    margin-top: 10vmin;
}

body>a {
    text-align: center;
    line-height: 6vmin;

    width: 100%;
    float: left;
}

div:has(img) {
    display: flex;
    align-items: center;
    gap: 5vmin;
}

hr {
    border-color: white;
}

img {
    width: calc(16vmin * 4);
    height: calc(9vmin * 4);
}

a {
    color: aquamarine;
    font-weight: bold;
    text-decoration: none;
}

h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

p, a {
    text-align: justify;
}

#start {
    border-color: var(--gray20);
}

#start p, #apply p {
    text-align: center;
}

#dubbing {
    border-color: rgb(255, 255, 60);
}

#builder {
    border-color: greenyellow;
}

#editor {
    border-color: rgb(255, 100, 255);
}

#process {
    border-color: rgb(255, 200, 95);
}

#production {
    border-color: salmon;
}

#important {
    border-color: rgb(255, 94, 35);
}

#apply {
    border-color: rgb(110, 110, 255);
}

@media (max-aspect-ratio: 4/3) or (min-aspect-ratio: 12/3) {
    img {
        order: -1;
    }

    div:has(img) {
        flex-direction: column;
    }
}