body {
    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://media.fpm-studio.de/assets/background-image/oasis.webp");
}

div:has(img) {
    display: flex;
    align-items: center;
    gap: 5rem;
}

hr {
    margin: 3rem 0;
}

img {
    width: 32rem;
    height: 18rem;
}

h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h4 {
    font-style: italic;
    text-align: center;
}

p, a {
    text-align: justify;
}

#start p, #apply p {
    text-align: center;
}

#direct {
    border-color: rgb(29, 132, 150);
}

#appliable {
    border-color: rgb(189, 33, 98);
}

#appliable div {
    flex-direction: column;
}

#process {
    border-color: rgb(111, 95, 255);
}

#production {
    border-color: rgb(114, 184, 250);
}

#important {
    border-color: salmon;
}

#apply {
    border-color: rgb(110, 110, 255);
}

.box {
    border: 1rem ridge;

    padding: 3rem;
    background-color: rgba(15, 15, 15, .9);
}

@media (min-width: 5120px) {
    h3, h4 {
        text-align: unset;
    }

    #appliable div:first-child, #direct div:last-child {
        width: 100%;
    }
}

@media (max-width: 1800px) {
    img {
        order: 1;
    }

    div:has(img) {
        flex-direction: column;
    }
}

@media (max-aspect-ratio: 1/2) {
    body {
        background-position-x: -80rem;
    }
}