:root {
	--gray: var(--gray20);
}

html {
	background-color: var(--gray);
}

body {
	height: 100vh;
	background-color: var(--gray);
}

h1 {
	padding: 1vh;
	font-size: 4vmin;
}

a {
	text-decoration: none;
}

a[href="../"] {
	filter: brightness(1.5);
}

a:hover {
	color: unset;
	filter: brightness(.75);
}

thead a {
	font-size: 3vmin;
}

table {
	border-spacing: unset;
	border: unset !important;
	background-color: var(--gray);
}

th {
	border-bottom: .25vmin solid gray;
	background-color: rgb(40, 40, 40);
}

th, td {
	padding: 1vh;
}

tr:nth-child(even) {
	background-color: rgb(30, 30, 30);
}