html {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5rem;
}

a {
    display: block;
    width: 30rem;
    height: 6rem;

    text-align: center;
    font-size: 4rem;
    text-decoration: none;

    color: white;
    background-color: rgb(110, 74, 208);
}

a:hover {
    transform: scale(1.2);
    transition: .2s;
}

@media (max-width: 1150px) {
    body {
        display: flex;
        flex-direction: column;
    }

    a {
        width: 33rem;
        font-size: 4rem !important;
    }
}

@media (max-height: 270px) {
    html {
        align-items: unset;
    }

    body {
        margin: unset;
    }
}