* {
	margin: 0;
	padding: 0;
}

:root {
	--gray: rgb(20, 20, 20);
}

html {
	background-color: var(--gray);
}

body {
	background-color: var(--gray);
}

h1 {
	font-size: 4vmin;
}

h1, td {
	color: white;
}

a {
	text-decoration: none;
}

a[href="../"] {
	filter: brightness(1.5);
}

a:hover {
	filter: brightness(.5);
}

a, td, thead a {
	font-size: 3vmin;
}

table {
	border: unset !important;
	border-spacing: unset;
}

th {
	background-color: rgb(40, 40, 40);
	border-bottom: unset;
}

th, td {
	padding: 1vmin;
}

tr:nth-child(even) {
	background-color: rgb(30, 30, 30);
}