body {
    background-color: var(--gray20);

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

h4 {
    color: rgb(190, 120, 255);
    text-transform: uppercase;
    text-decoration: underline;
}

h5 {
    font-family: 'Courier New', Arial;
}

h6 {
    color: rgb(255, 255, 100);
    text-transform: uppercase;
}

img {
    width: 30rem;
}