* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    gap: 5vmin;
    margin: 5vmin;
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
}

h1 {
    font-size: 6vmin;
    text-transform: uppercase;
    text-decoration: underline;
    color: rgb(190, 120, 255);
}

h2 {
    font-size: 5vmin;
    font-family: 'Courier New', Arial;
}

h3 {
    font-size: 4vmin;
    text-transform: uppercase;
    color: rgb(255, 255, 100);
}

p {
    font-size: 3vmin;
}

li {
    font-size: 3vmin;
    list-style-position: inside;
}

img {
    width: 60vmin;
}