body {
    gap: 3rem;
}

h4 {
    color: rgb(190, 120, 255);
}

h5 {
    font-family: "Courier New", Arial;
}

h6 {
    color: rgb(255, 255, 100);
}

h4,
h6 {
    text-transform: uppercase;
}

img {
    width: 30rem;
}

@media (max-width: 800px) {
    * {
        word-break: break-word;
    }

    body {
        padding: 4vw;
        gap: 6vw;
    }

    img {
        width: 60vw;
    }
}