body {
    background-color: var(--gray20);
    margin: 3vmin;

    display: flex;
    flex-direction: column;
    gap: 3vmin;
}

h1 {
    font-size: 4vmin;
}

h2 {
    font-size: 3vmin;
}

h1, h2 {
    text-align: center;
}

p, li {
    font-size: 2vmin;
}