body {
    background-color: var(--gray20);
    margin: 5vmin;

    display: flex;
    flex-direction: column;
    gap: 5vmin;
}

h1 {
    font-size: 8vmin;
}

h2 {
    font-size: 6vmin;
}

h1, h2 {
    text-align: center;
}

p, li {
    font-size: 4vmin;
}