* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    gap: 5vmin;
    margin: 5vmin;
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
}

h1 {
    font-size: 8vmin;
}

h2 {
    font-size: 6vmin;
}

h1, h2 {
    text-align: center;
}

li {
    list-style-position: inside;
}

p, li {
    font-size: 4vmin;
}