body {
    align-items: center;
}

p {
    text-align: center;
}

video {
    width: calc(16rem * 3);
    height: calc(9rem * 3);

    border: .5rem solid;
    background-color: rgba(0, 0, 0, .5);
}

button {
    background-color: var(--success);
}