body {
    align-items: center;
}

p {
    text-align: center;
}

hr {
    width: 50rem;
}

video {
    width: calc(16rem * 3);
    height: calc(9rem * 3);

    border: 1rem solid;
}

button {
    background-color: var(--success);
}