:root {
    --selected: rgb(252, 222, 124);
}

html {
    overflow: hidden;
}

body {
    height: 100vh;
    margin: unset;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("https://media.fpm-studio.de/assets/background-image/rocket_league.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 2rem;
    border-radius: 2rem;

    background-color: var(--darker_blue);
    filter: drop-shadow(0 0 5rem black);
}

#toggle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#login {
    color: var(--selected);
}

.slider {
    background-color: var(--selected);
}

.switch input:disabled~span {
    cursor: not-allowed;
    background-color: gray;
}

input {
    height: 4rem;
    width: 40rem;
}

input[type="password"] {
    cursor: text;
}

input:checked+.slider {
    background-color: var(--selected);
}

#password>img {
    height: 1.75rem;
    cursor: pointer;

    position: absolute;
    bottom: 13.1rem;
    right: 2rem;

    -webkit-user-drag: none;
}

button {
    margin-top: 1rem;
    border-radius: 1rem;
}

button:hover {
    filter: brightness(.75);
    transition: .2s;
}

button:active:not(:disabled) {
    transform: scale(.9);
    transition: unset;
}

@media (max-width: 760px) or (max-height: 500px) {
    :root {
        --slider-size: .5;
    }

    body>div {
        margin: 1rem;
    }

    h5, p, button {
        font-size: 1.75rem;
    }

    input {
        width: 23.4rem;
        height: 3rem;
    }

    #password>img {
        height: 1.25rem;
        bottom: 11.8rem;
    }
}

@media (max-width: 480px) or (max-height: 430px) {
    :root {
        --slider-size: .4;
    }

    body>div {
        margin: 1rem;
        padding: 1.5rem;
    }

    button {
        height: 2rem;

        margin: unset;
        padding: 0 .5rem;
    }

    h5, p, button {
        font-size: .9rem;
    }

    input {
        width: 14rem;
        height: 2.5rem;
    }

    #password>img {
        height: .8rem;

        bottom: 7.2rem;
        right: 1.5rem;
    }

    .slider.round, .slider.round::before {
        border-radius: unset;
    }
}