body {
    margin: 3vmin 6vmin;
}

button {
    color: var(--gray20);
    background-color: var(--success);
}

input[type="text"] {
    color: var(--gray20);
}

#align {
    gap: 1vmin;
    display: flex;
    flex-direction: column;
}

#align div {
    gap: 2vmin;
    display: flex;
    justify-content: center;
}

#align div * {
    width: 35vmin;
}

#align div p {
    text-align: center;
}

@media (min-aspect-ratio: 21/9) {
    body>p, body>b {
        display: block;
        text-align: center;
    }
}