:root {
    --padding: 5vh;
    --soft-black: rgba(0, 0, 0, .25);
}

body {
    margin: unset !important;
    gap: unset;
}

a {
    text-decoration: none;
    font-weight: bold;
}

li {
    color: rgb(220, 220, 220);
}

.black-tint-container>* {
    color: black;
}

#intro {
    height: 100vh;

    background-color: var(--soft-black);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro h1 {
    margin: 0 2rem;
}

#intro video {
    position: fixed;

    width: 100%;
    height: 100%;

    object-fit: cover;
    z-index: -1;
}

#summary {
    display: flex;
    background-color: rgb(250, 90, 90);
}

#summary div {
    width: calc(100% / 3);
    padding: var(--padding);
}

#passion {
    object-fit: cover;

    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url("https://media.fpm-studio.de/movies/dora_und_die_albanische_staatsgrenze/36.png");
}

#improvement {
    background-image: url("https://media.fpm-studio.de/assets/background-image/construction.webp");
}

#passion, #improvement {
    background-size: 200%;
}

#secrets {
    padding: var(--padding);

    display: flex;
    justify-content: space-between;

    background-size: cover;
    background-position-y: -30rem;
    background-image: url("https://media.fpm-studio.de/assets/background-image/stone_wall.webp");
}

#secrets img {
    width: 15rem;
}

#team {
    height: 80vh;
    min-height: 55rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: relative;
    padding: var(--padding);
    overflow: hidden;

    background-size: 100%;
    background-position-y: center;
    background-size: cover;
    background-image: url("https://media.fpm-studio.de/assets/background-image/propulsion.webp");
}

#letaubsi-text {
    direction: rtl;
}

#itslemax-text, #letaubsi-text {
    padding: var(--padding);
    background-color: var(--soft-black);

    display: none;
    z-index: 1;
    pointer-events: none;
}

#itslemax-text h2 {
    color: rgb(230, 204, 59);
}

#letaubsi-text h2 {
    color: rgb(255, 115, 65);
}

#team img {
    height: 50rem;

    position: absolute;
    bottom: 0;
}

#team img:hover {
    transform: scale(1.2);
    transition: .2s;
}

#leaders {
    display: flex;
    gap: 2rem;
}

#leaders p {
    height: fit-content;

    position: relative;
    top: .75rem;
}

#itslemax-image {
    left: 5rem;
}

#letaubsi-image {
    right: 5rem;
}

#itslemax-image:hover~#itslemax-text,
#letaubsi-image:hover~#letaubsi-text {
    display: block;
}

#itslemax-image:hover+#letaubsi-image,
#itslemax-image:has(+#letaubsi-image:hover) {
    filter: blur(.5rem);
    transition: .1s;
}

#contribute {
    background-color: chartreuse;
    text-align: right;

    position: sticky;
    padding: var(--padding);
}

#donation {
    background-color: cornsilk;
    text-align: right;

    padding: var(--padding);
}

#links {
    padding: var(--padding);
    background-color: rgb(15, 15, 15);

    display: flex;
    align-items: center;
    gap: 3rem;
}

#links a, #links p {
    font-size: 2rem;
}

#links div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#links img {
    width: 3rem;
}

@media (max-width: 1420px) {
    #team img {
        height: 40rem;
    }
}

@media (max-width: 1170px) {
    #team {
        height: unset;
    }

    #team img {
        display: none;
    }

    #team>div {
        display: block !important;
    }

    #summary {
        height: unset;
        text-align: center;

        flex-direction: column;
    }

    #summary div {
        width: unset;
    }

    #team {
        background-size: cover;
    }

    #leaders p {
        display: none;
    }

    #secrets {
        background-position-y: unset
    }
}

@media (max-width: 960px) {
    #links {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    :root {
        --padding: 5vw;
    }

    h1 {
        margin: unset !important;
    }

    #team {
        min-height: unset;
        gap: 4vw;
    }

    #secrets img {
        width: 25vw;
    }

    #links {
        gap: 5vw;
    }

    #links img {
        width: 5vw;
    }
}