:root {
    --padding: 5vh;
}

::selection {
    background-color: rgba(125, 255, 136, 0.5);
}

body {
    background-color: black;
}

h1 {
    font-size: 6vmin;
}

h2 {
    font-size: 4vmin;
}

h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p, a {
    font-size: 3vmin;
}

a {
    font-weight: bold;
    color: rgb(33, 99, 197);
}

ul {
    margin-left: 3vmin;
}

li {
    font-size: 2.5vmin;
    color: rgb(200, 200, 200);
}

#intro {
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, .25);
}

#intro video {
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    object-fit: cover;
}

#summary {
    height: 50vh;
    display: flex;
    background-color: rgb(250, 90, 90);
}

#summary div {
    width: 33.33%;
    padding: var(--padding);
}

#love {
    object-fit: cover;
    background-position: center;
    background-image: url("https://media.fpm-studio.de/assets/backgrounds/Dark Timeline.png");
}

#secrets {
    gap: 5vmin;
    display: flex;
    background-size: cover;
    padding: var(--padding);
    background-position-y: -30vmin;
    background-image: url("https://media.fpm-studio.de/assets/backgrounds/Stone Wall.png");
}

#secrets img {
    width: 15vmin;
}

#team {
    gap: 2vmin;
    height: 90vh;
    display: flex;
    overflow: hidden;
    position: relative;
    background-size: 150%;
    flex-direction: column;
    padding: var(--padding);
    background-position-y: center;
    background-image: url("https://media.fpm-studio.de/assets/backgrounds/Propulsion.png");
}

#letaubsi-text {
    direction: rtl;
}

#itslemax-text, #letaubsi-text {
    z-index: 1;
    display: none;
    pointer-events: none;
    padding: var(--padding);
    background-color: rgba(0, 0, 0, .25);
}

#letaubsi-text ul {
    margin: 0 3vmin 0 0;
}

#itslemax-text h2 {
    color: rgb(230, 204, 59);
}

#letaubsi-text h2 {
    color: rgb(255, 115, 65);
}

#team img {
    bottom: 0;
    height: 80vh;
    position: absolute;
}

#team img:hover {
    transition: .2s;
    transform: scale(1.2);
}

#itslemax-image {
    left: 5vmin;
}

#letaubsi-image {
    right: 5vmin;
}

#itslemax-image:hover~#itslemax-text,
#letaubsi-image:hover~#letaubsi-text {
    display: block;
}

#itslemax-image:hover+#letaubsi-image,
#itslemax-image:has(+#letaubsi-image:hover) {
    transition: .1s;
    filter: blur(1vmin);
}

#contribute {
    position: sticky;
    text-align: right;
    padding: var(--padding);
    background-color: chartreuse;
}

#tournaments {
    text-align: right;
    background-size: cover;
    padding: var(--padding);
    background-position-y: center;
    background-image: url("https://media.fpm-studio.de/assets/backgrounds/Rocket League.webp");
}

#donation {
    padding: var(--padding);
    background-color: cornsilk;
}

#links {
    gap: 3vmin;
    display: flex;
    padding: var(--padding);
    background-color: rgb(15, 15, 15);
}

#links div {
    gap: 1vmin;
    display: flex;
    align-items: center;
}

#links img {
    width: 3vmin;
}

@media (max-aspect-ratio: 16/9) {
    #links {
        flex-direction: column;
    }
}

@media (max-aspect-ratio: 4/3) {
    h2 {
        font-size: 6vmin;
    }

    p, a {
        font-size: 4vmin;
    }

    #links p, #links a {
        font-size: 3vmin;
    }

    #summary {
        height: unset;
        text-align: center;
        flex-direction: column;
    }

    #summary div {
        width: unset;
    }

    #team {
        background-size: cover;
    }

    #secrets {
        background-position-y: unset
    }

    #team img {
        height: 60vh;
    }
}

@media (max-aspect-ratio: 1/1) {
    #team {
        height: unset;
    }

    #team img {
        display: none;
    }

    #team>div {
        display: block !important;
    }
}

@media (max-aspect-ratio: 1/3) {
    :root {
        --padding: 1vh
    }
}