@media (max-width: 600px) {
    .link-box {
        width: 66vw;

        font-size: 5vw;
        line-height: 15vw;
    }
}

@media (max-height: 450px) {
    body {
        height: 100vh;
        justify-content: unset;
    }

    .link-box {
        overflow: unset;
    }
}