div {
    width: 30rem;
}

div * {
    text-align: center;
}

@media (max-width: 600px) {
    div {
        width: 66vw;
    }

    div * {
        font-size: 3vw;
    }

    .link-box {
        width: 66vw;

        font-size: 5vw;
        line-height: 15vw;
    }
}

@media (max-height: 550px) {
    body {
        height: 100vh;
        justify-content: unset;
    }

    .link-box {
        overflow: unset;
    }

    .link-box:hover::before,
    .link-box:hover::after {
        width: 97%;
        height: 97%;
    }
}