::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #555555;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--darker-yellow);
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: rgb(145, 125, 25);
}

body {
    height: 100vh;
    margin: unset;

    gap: unset;
    align-items: center;
    justify-content: center;
}

h3 {
    text-align: center;
}

select {
    width: 100%;

    color: white;
    background-color: rgb(30, 30, 30);
    text-align: center;
}

button {
    color: whitesmoke;
    background-color: transparent;
    user-select: none;

    font-size: 4rem;
    padding: unset;
}

button:disabled {
    color: gray;
    transition: .05s;
}

/* Rotate device on specific aspect ratio */

#rotate-device {
    display: none;
    text-align: center;
}

#rotate-device img {
    width: 24vw;
    user-select: none;
}

#rotate-device p {
    font-size: 4vw !important;
}

/* Picture area */

#selector {
    max-width: min-content;
}

#selector div {
    display: flex;
    align-items: center;
    justify-content: center;

    border: .5rem solid var(--gray10);
    background-color: var(--gray10);
}

/* Loading gif (invisible at first) */

#loading {
    display: none;
    position: absolute;
    z-index: 1;
}

/* Image specifically */
#image {
    max-width: calc(16rem * 3);
    min-height: calc(9rem * 3);
    max-height: calc(9rem * 3);
}

#image:not([src]) {
    width: 48rem;
}

/* Number that shows the selected image number and total amount */

#index {
    background-color: rgba(20, 20, 20, .5);
    padding: 0 1rem;
    margin: 1rem 0 0 1rem;
    z-index: 1;

    display: none;
    position: absolute;
}

/* Description of the image */

#caption {
    display: none;

    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;

    min-height: 4rem;
    padding: 0 .5rem .5rem .5rem;

    background-color: var(--gray10);
}

@media (max-width: 800px) {
    select {
        width: 100%;
    }

    #image {
        max-width: calc(32vw * 3);
        min-height: calc(18vw * 3);
        max-height: calc(18vw * 3);
    }

    #index {
        margin: unset;
        padding: 0 2vw;
    }

    #caption {
        height: 8vw;
    }

    #selector div {
        border: 1vw solid var(--gray10);
    }

    #buttons {
        white-space: nowrap;
    }

    #buttons>* {
        font-size: 8vw !important;
    }

}

@media (max-width: 420px) {
    body * {
        display: none;
    }

    #rotate-device {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 3vw;
    }

    #rotate-device * {
        display: block;
    }

    #rotate-device p {
        white-space: nowrap;
    }
}

@media (max-height: 780px) and (min-width: 800px) {
    body {
        justify-content: unset;
    }
}

@media (max-width: 800px) and (max-height: 780px) {
    select {
        width: 100%;
    }

    #image {
        max-width: calc(32vmin * 3);
        min-height: calc(18vmin * 3);
        max-height: calc(18vmin * 3);
    }

    #index {
        margin: unset;
        padding: 0 2vmin;
    }

    #caption {
        height: 8vmin;
    }

    #selector div {
        border: 1vw solid var(--gray10);
    }

    #buttons {
        white-space: nowrap;
    }

    #buttons>* {
        font-size: 8vmin !important;
    }

}