/* Centered container like look */

html {
    display: flex;
    justify-content: center;

    background-color: var(--gray10);
}

body {
    width: 75%;

    margin: 0;
    padding: 2rem;
}

@media (max-width: 800px) {
    body {
        width: 85%;
    }
}