body {
    height: 100vh;
    margin: unset !important;

    justify-content: center;
    align-items: center;

    background: url("https://media.fpm-studio.de/assets/background-image/library.webp");
    background-size: cover;
}

input {
    width: 100%;
    border-radius: 1rem;
}

button {
    border-radius: 2rem;
}

button:disabled {
    background-color: black;
    color: white;
}

button:active:not(:disabled) {
    transform: scale(.9);
    transition: all 40ms;
}

input:has(~button:disabled) {
    border: .25rem dashed rgb(200, 15, 15);
}

#panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    padding: 2rem;
    border-radius: 1rem;

    background-color: var(--darker-blue);
    filter: drop-shadow(1rem 2rem 3rem black);
}

#tooltips {
    position: relative;
}

#tooltips span {
    background-color: rgba(85, 85, 85, .3);

    padding: 1rem;

    position: absolute;
    bottom: 2.5rem;
    left: -.55rem;

    opacity: 0;
    transition: opacity .3s;
}

#tooltips span::after {
    position: absolute;
    top: 100%;

    margin-left: -1rem;
    content: "";

    border-width: 1rem;
    border-style: solid;
    border-color: rgba(85, 85, 85, .3) transparent transparent transparent;
}

#tooltips:hover span {
    opacity: 1;
}

#validation {
    display: flex;
    gap: 1.5rem;

    width: 100%;
}

@media (max-width: 800px) {
    #panel {
        gap: 4vw;
        padding: 4vw;

        border-radius: 2vw;
    }

    #tooltips span {
        bottom: 7vw;
        left: -.3vw;
    }

    #tooltips span::after {
        border-width: 2vw;
    }

    #validation {
        width: 100%;

        gap: 2vw;
        flex-direction: column;
    }
}

@media (max-height: 800px) {
    #tooltips {
        display: none;
    }
}

@media (max-height: 480px) {
    body {
        height: unset;
        justify-content: unset;
    }

    #panel {
        margin: 2rem 0 2rem 0;
    }
}