body {
    height: 100vh;
    margin: unset !important;

    justify-content: center;
    align-items: center;

    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://media.fpm-studio.de/assets/background-image/book.webp");
}

ul {
    padding-left: 2rem;
}

input {
    border-radius: 1rem;
}

button {
    border-radius: 2rem;
}

button:disabled {
    background-color: black;
    color: white;
}

button:active:not(:disabled) {
    transform: scale(.9);
    transition: all 20ms;
}

input:has(~button:disabled) {
    border: .5rem dashed rgb(200, 15, 15);
}

#panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    max-width: 77%;
    padding: 2rem;
    border-radius: 1rem;

    background-image: url("https://media.fpm-studio.de/assets/background-image/storm.webp");
}

#tooltips {
    position: relative;
    width: fit-content;
}

#tooltips span {
    background-color: rgba(85, 85, 85, 0.3);

    width: 41rem;
    padding: 1rem;
    border-radius: 2rem 2rem 2rem 0;

    position: absolute;
    bottom: 3.5rem;
    left: -.15rem;

    opacity: 0;
    transition: opacity .3s;
}

#tooltips span::after {
    position: absolute;
    top: 100%;

    margin-left: -1rem;
    content: "";

    border-width: 1rem;
    border-style: solid;
    border-color: rgba(85, 85, 85, 0.3) transparent transparent transparent;
}

#tooltips:hover span {
    visibility: visible;
    opacity: 1;
}

#validation {
    display: flex;
    gap: 1.5rem;
}

@media (max-width: 850px) {
    ul {
        padding-left: 4vw;
    }

    #panel {
        padding: 4vw;
        gap: 4vw;
    }

    #tooltips span {
        width: 82vw;
        bottom: 7vw;

        padding: 2vw;
        border-radius: 4vw 4vw 4vw 0;
    }

    #tooltips span::after {
        margin-left: -2vw;
        border-width: 2vw;
    }

    #validation {
        width: 100%;

        gap: 3vw;
        flex-direction: column;
    }
}

@media (max-height: 800px) {
    #tooltips {
        display: none;
    }
}

@media (max-height: 480px) {
    body {
        height: unset;
        justify-content: unset;
    }

    #panel {
        margin: 2rem 0 2rem 0;
    }
}