body {
    height: 100vh;
    margin: unset;

    justify-content: center;
    align-items: center;

    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://media.fpm-studio.de/assets/background-image/book.webp");
}

ul {
    padding-left: 2rem;
}

input {
    width: 37.5rem;
    height: 5rem;

    outline: none;
    padding: .5rem;
    border-radius: 1rem;
}

button {
    border-radius: 2rem;
}

button:disabled {
    background-color: black;
    color: white;
}

input:has(~button:disabled) {
    border: .5rem dashed rgb(200, 15, 15);
}

button:active:not(:disabled) {
    transform: scale(.9);
    transition: all 20ms;
}

#panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    padding: 2rem;
    border-radius: 1rem;

    background-image: url("https://media.fpm-studio.de/assets/background-image/thunder.webp");
}

#tooltips {
    position: relative;
    width: fit-content;
}

#tooltips span {
    background-color: rgba(85, 85, 85, 0.3);

    width: 41rem;
    padding: 1rem;
    border-radius: 2rem 2rem 2rem 0;

    position: absolute;
    bottom: 3.5rem;
    left: -.15rem;

    opacity: 0;
    transition: opacity .3s;
}

#tooltips span::after {
    position: absolute;
    top: 100%;

    margin-left: -1rem;
    content: "";

    border-width: 1rem;
    border-style: solid;
    border-color: rgba(85, 85, 85, 0.3) transparent transparent transparent;
}

#tooltips:hover span {
    visibility: visible;
    opacity: 1;
}

#validation {
    display: flex;
    gap: 1.5rem;
}

@media (max-width: 950px) or (max-height: 820px) {
    h3 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }

    #panel {
        gap: 2rem;
    }

    #validation {
        flex-direction: column;
    }
}

@media (max-width: 720px) or (max-height: 600px) {
    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    input {
        width: 24.5rem;
        height: 4rem;
    }

    button, input {
        text-align: center;
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) or (max-height: 500px) {
    h3 {
        font-size: 1.25rem;
    }

    p {
        font-size: .6rem;
    }

    input {
        width: 14.5rem;
        height: 3rem;
    }

    button, input {
        font-size: 1rem;
    }
}