body {
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://media.fpm-studio.de/assets/backgrounds/Book.jpg");
}

body>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5vmin;

    width: 66vmin;
    padding: 4vmin;
    border-radius: 1vmin;

    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://media.fpm-studio.de/assets/backgrounds/Thunder.jpg");
}

::selection {
    background: rgba(0, 255, 106, .5);
}

h1 {
    font-size: 6vmin;
}

p {
    font-size: 4vmin;
}

ul {
    padding-left: 2vmin;
    list-style: inside;
}

li {
    font-size: 2.3vmin;
}

h1, p {
    text-align: center;
}

hr {
    border-color: aliceblue;
}

input {
    background-color: rgba(0, 0, 0, 0.5);

    width: 60vmin;
    height: 6vmin;

    outline: none;
    padding: .5vmin;
    border-radius: 1vmin;
}

button {
    color: black;
    background-color: aliceblue;

    padding: .6vmin 2vmin;
    border-radius: 2vmin;
}

button:disabled {
    background-color: gray;
}

input:has(~button:disabled) {
    border: .5vmin dashed rgb(200, 15, 15);
}

button:active:not(:disabled) {
    transform: scale(.9);
    transition: all 20ms;
}

button:hover:not(:disabled), input:hover {
    filter: brightness(125%);
}

#tooltips {
    position: absolute;
    top: 0;
}

#tooltips p {
    color: gray;
}

#tooltips span {
    font-size: 2.5vmin;
    color: aliceblue;
    background-color: rgba(85, 85, 85, 0.3);

    width: 47vmin;
    padding: 1vmin;
    border-radius: 4vmin;

    position: absolute;
    bottom: 6vmin;
    right: -21.75vmin;

    opacity: 0;
    transition: opacity 0.3s;
}

#tooltips span::after {
    position: absolute;
    top: 100%;
    left: 50%;

    margin-left: -1vmin;
    content: "";

    border-width: 1vmin;
    border-style: solid;
    border-color: rgba(85, 85, 85, 0.6) transparent transparent transparent;
}

#tooltips:hover span {
    visibility: visible;
    opacity: 1;
}

#validation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5vmin;
}

@media (max-aspect-ratio: 1/1) {
    * {
        font-size: 6vmin;
    }

    h1 {
        font-size: 10vmin;
    }

    p {
        font-size: 6vmin;
    }

    input {
        height: 10vmin;
        font-size: 6vmin;
    }

    button {
        width: 40vmin;
        height: 8vmin;
    }

    #tooltips {
        display: none;
    }
}